#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
}

.parallel-plot1 {
  height: 500px;
  width: 700px;
  border: 2px;
  border-color: black;
}
.parallel-plot2 {
  height: 500px;
  width: 500px;
}
